@charset "UTF-8";

html {
    font-size: 20px;
}
html, body {
    height: 100%;
}
/*body*/
body *, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}
@media (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
    }
}

/*header in body*/
header {
    background-color: #1aaedb;
    /*border-top: #ead963  6px solid;*/
    border-bottom: #ead963 6px solid;
}
header .container {
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 76px;
    background-image: url(../resources/eyeGhost.jpeg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: top 50% left 30px;
}
@media (min-width: 768px) {
    header .container {
        min-height: 100px;
        padding-left: 120px;
        background-size: 80px;
        background-position: top 50% left 30px;
    }
}
header .container h1,
header .container h2 {
    margin: 0;
    color: #fff;
    line-height: 1;
}
header .container h1 {
    padding: 15px 0 4px 0;
    border-bottom: 1px dotted #fff;
    font-size: 20px;
    font-weight: 500;
}
header .container h2 {
    padding: 5px 0 0 0;
    font-size: 16px;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .container h1 {
        padding: 30px 0 5px 0;
        font-size: 24px;
    }
    header .container h2 {
        padding: 6px 0 6px 0;
        font-size: 14px;
    }
}


/*main in body*/
main {
    min-height: calc(100% - 156px);
}
main .container {
    margin: 0 auto;
    background-color: #fff;
}

footer {
    background-color: #800080;
}
footer img {
    max-width: 50px;
}
footer .container {
    min-height: 50px;
    padding-top:10px;
    padding-bottom:10px;
    color: #fff;
    font-size: 16px;
    text-align: right;
    /*
    background-image: url(../../resources/cycling.jpg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: top 50% left 10px;
    */
}
@media (min-width: 768px) {
    footer .container {
        min-height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
footer .container p {
    margin: 0;
}